/** admin cpanel */
body {
    margin: 0;
    padding: 0;
    background-color: rgb(220 227 220 / 100%);
}

.admin_cp {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.admin_cp .wrapper {
    display: flex;
    justify-content: space-between;
}

/** message warning */
.message_warning {
    border: 1px solid #fe4343;
    padding: 10px;
    background-color: #ffe7e7;
    color: crimson;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

/** message sucess */
.message_success {
    border: 1px solid #2ebb00;
    padding: 11px;
    background-color: #d8ffb4;
    color: forestgreen;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.message_success a {
    color: coral;
}

/** count records */
.count_records {
    font-size: 18px;
    margin-bottom: -26px;
    margin-left: 4px;
    font-weight: bold;
}

/** nar bar */
.nav-bar {
    background-color: #fff;
    padding: 14px;
    display: flex;
    justify-content: space-between;
    height: 28px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    line-height: 28px;
}

.nav-bar h3 {
    color: chocolate;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin-top: 0;
}

.nav-bar .user a {
    display: flex;
    text-decoration: none;
    line-height: 12px;
    margin-top: -6px;
    margin-right: 6px;
}

.nav-bar .user a p {
    font-size: 17px;
    font-weight: bold;
    margin-right: 8px;
}

.nav-bar .user img {
    border-radius: 20px;
    width: 42px;
    height: 40px;
}

.user li.menu {
    color: #f1f1f1;
    display: inline-block;
    width: 152px;
}

.user ul li a {
    text-decoration: none;
    color: #111;
    display: block;
    font-weight: bold;
    font-size: 15px;
}

.user li>.sub-menu {
    display: none;
    background: #ffe7e7;
    position: absolute;
    line-height: 65px;
    list-style: none;
    padding: 0;
    margin-top: 0px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.user ul.sub-menu li {
    padding: 24px 19px 24px 19px;
    border: 1px solid ghostwhite;
}

.user ul.sub-menu li a:hover {
    color: #000;
    text-decoration: underline;
}

.user li:hover .sub-menu {
    display: block;
}

/** title admin_cp */
.admin_cp .wrapper .title_admin_cp {
    color: chocolate;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

/** menu admin */
.admin_cp .wrapper .menu_admin {
    width: 30%;
    background: #fff;
    list-style-type: none;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 20px;
}

.admin_cp .wrapper .menu_admin li {
    width: auto;
    max-height: 150px;
    line-height: 50px;
    padding: 0 1em;
}

.admin_cp .wrapper .menu_admin li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    display: block;
    font-size: 16.5px;
    cursor: pointer;
}

.admin_cp .wrapper .menu_admin .sub_menu li:hover {
    text-decoration: underline;
}

.admin_cp .wrapper .menu_admin li a i {
    font-size: 20px;
    margin-right: 10px;
}

.admin_cp .wrapper .menu_admin .sub_menu li.active,
.admin_cp .wrapper .menu_admin .sub_menu .active a {
    background: #bcbcbc;
    color: #fff;
    border-radius: 10px;
}

.admin_cp .wrapper .menu_admin .sub_menu {
    position: relative;
    text-decoration: none;
    display: none;
}

.admin_cp .wrapper .menu_admin li:hover .sub_menu {
    display: block;
}

.admin_cp .wrapper .menu_admin li {
    list-style: none;
}

.admin_cp .wrapper .menu_admin li ul {
    margin: 0;
    padding: 0;
}

.admin_cp .wrapper .menu_admin li ul li {
    display: block;
}

/** funtion admin */
.admin_cp .wrapper .funtion_admin {
    margin-left: 10px;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.admin_cp .wrapper .funtion_admin h1 {
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 9px;
    background-color: antiquewhite;
    padding: 9px 0px 8px 18px;
}

.admin_cp .wrapper .funtion_admin .sub_funtion_admin {
    background-color: #fff;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px;
    height: 100%;
}

/** page */
.page {
    display: inline-block;
    padding: 10px 0px;
    text-align: center;
    width: 100%;
}

.page p {
    margin-bottom: 10px;
}

ul.list-page {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

ul.list-page li {
    float: left;
    border-radius: 50%;
    border: 1px solid #1C6CC1;
    margin: 0 5px;
    background: #FFF;
    text-align: center;
}

ul.list-page li:hover,
ul.list-page li:hover a {
    background: #1C6CC1;
    color: #FFF;
}

ul.list-page li a {
    padding: 0;
    line-height: 1;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    padding: 0px 8px;
    border-radius: 50%;
}

ul.list-page li:hover {
    cursor: pointer;
}

/** form search */
.form-search {
    background: #fff;
}

.form-search tr.input input {
    width: 60%;
}

.form-search tr.submit .set-ml-37 {
    margin-left: 34%;
}

.form-search tr.submit .clear-data {
    background-color: #c7c4c4;
    border: none;
    color: #ffffff;
    width: 19%;
    padding: 8px 8px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
}

.form-search tr.submit .search-data {
    background-color: #357ecb;
    border: none;
    color: #ffffff;
    width: 20%;
    padding: 8px 8px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
}

/** future history */
ul.tab-history {
    list-style: none;
    padding: 0;
    font-size: 20px;
    line-height: 34px;
    margin-top: 6px;
}

li.sub-tab-history {
    border: 1px solid;
    border-color: white;
    padding-left: 18px;
    padding-top: 16px;
    height: 49px;
    font-weight: bold;
    background: mistyrose;
    cursor: pointer;
}

li.sub-tab-history span:hover {
    text-decoration: underline;
}

li.sub-tab-history a {
    color: #111;
    text-decoration: none;
}

.log_file {
    display: flex;
    flex-direction: column;
    border: 1px solid #a79e9e;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: aliceblue;
}

.log_file .sub_log {
    display: flex;
    flex-direction: row;
}

.log_file .sub_log .log_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
    width: 98%;
    line-height: 1.5;
}

.log_file .sub_log .log_info .log_name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2px;
    text-decoration: underline;
}

.log_file .sub_log .log_info .time_log {
    font-size: 17px;
    margin-bottom: 3px;
    margin-top: 3px;
}

.log_file .sub_log .log_info .user_log {
    font-size: 17px;
}

.log_file .sub_log .delete_log a {
    position: relative;
    top: -14px;
    right: -9px;
    color: #9b9b9b;
}

.log_file .sub_log .delete_log a:hover {
    opacity: 0.5;
}

.title-log {
    border: 1px solid #eee9e9;
    border-radius: 5px;
    padding: 8px 8px 8px 8px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 6px;
    background-color: #d4ffab;
    color: #4a8711;
}

.btn-back {
    border: 1px inset #a79e9e;
    padding: 9px;
    width: 359px;
    height: 23px;
    border-radius: 6px;
    font-size: 21px;
    margin-bottom: 6px;
    color: #fff;
    font-weight: bold;
    background: lightblue;
}

a.link_back {
    text-decoration: none;
}

a.link_back:hover {
    opacity: 0.8;
}

/** Reponsive */
@media all and (max-width: 480px) {

    /** admin */
    .admin_cp {
        width: 250%;
    }

    /** nar bar */
    .nav-bar {
        width: 250%;
    }

    .admin_cp .wrapper .funtion_admin {
        width: 123%;
        margin-right: -28px;
    }

    /** menu */
    .admin_cp .wrapper .menu_admin {
        width: 20%;
    }

    .admin_cp .wrapper .title_admin_cp {
        font-size: 24px;
    }

    .admin_cp .wrapper .menu_admin li a {
        font-size: 16px;
    }

    .admin_cp .wrapper .menu_admin li {
        height: auto;
        line-height: normal;
        padding: 14px 4px 12px 13px;
    }

    .admin_cp .wrapper .menu_admin li a i {
        font-size: 16px;
        margin-right: 4px;
    }

    /** button search */
    .form-search tr.submit .search-data {
        width: 31%;
    }

    /** menu login */
    .user li:hover .sub-menu {
        width: 165px;
        margin-left: -12px;
    }
}

/** Reponsive */
@media all and (max-width: 1017px) {

    /** admin */
    .admin_cp {
        width: 250%;
    }

    /** nar bar */
    .nav-bar {
        width: 250%;
    }

    .admin_cp .wrapper .funtion_admin {
        width: 123%;
        margin-right: -28px;
    }

    /** menu */
    .admin_cp .wrapper .menu_admin {
        width: 20%;
    }

    .admin_cp .wrapper .title_admin_cp {
        font-size: 24px;
    }

    .admin_cp .wrapper .menu_admin li a {
        font-size: 16px;
    }

    .admin_cp .wrapper .menu_admin li {
        height: auto;
        line-height: normal;
        padding: 14px 4px 12px 13px;
    }

    .admin_cp .wrapper .menu_admin li a i {
        font-size: 16px;
        margin-right: 4px;
    }

    /** button search */
    .form-search tr.submit .search-data {
        width: 31%;
    }

    /** menu login */
    .user li:hover .sub-menu {
        width: 165px;
        margin-left: -12px;
    }
}