table {
    border-collapse: collapse;
    width: 100%;
}

.form-search tr td {
    border: none;
}

.manage_table th,
td {
    padding: 8px;
    border: 1px solid #dddddd;
}

.manage_table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.manage_table tr:hover {
    background-color: #dddddd;
}

.manage_table {
    width: 100%;
    height: 72%;
}

.modal-body .input-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.modal-body .input-group label {
    font-size: 15px;
}

.modal-body .input-group input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

/** icon table */
.manage_table td a {
    padding: 6px 6px 5px 6px;
    background-color: #20cbff;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.manage_table td a.trash {
    background-color: #ff9c9c;
}

/** form */
.form-input {
    display: flex;
    flex-direction: column;
}

.form-input h2 {
    font-size: 28px;
    color: chocolate;
}

.form-input .form-body .input-group {
    display: flex;
    flex-direction: column;
}

.form-input .form-body .input-group input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.form-input .form-body .input-group label {
    font-size: 16px;
}

.form-input .form-body button {
    background-color: #17a2b8;
    border: none;
    color: #ffffff;
    width: 19%;
    padding: 10px 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
}

.form-input .form-body button:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}

.button-add-form {
    text-decoration: none;
}

.button-add-form {
    text-decoration: none;
    float: right;
    height: 30px;
    font-weight: bold;
    text-align: center;
    border: none;
    min-width: 85px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    cursor: pointer;
}

.button-add-form:hover {
    color: #fff;
    background-color: #138496;
}

.button-back-screen {
    background-color: #c7c4c4;
    border: none;
    color: #ffffff;
    padding: 10.31px 21px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
}

/** Button export excel */
.button-export-excel {
    background-color: #2ca12c;
    border: none;
    color: #fff;
    line-height: 0;
    height: 30px;
    min-width: 100px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    float: right;
    margin-right: 5px;
    cursor: pointer;
}

.button-export-excel:hover {
    color: #fff;
    background-color: #248624;
}

/** Button update status */
.button-update-status {
    background-color: #fe4343;
    border: none;
    color: #fff;
    line-height: 0;
    height: 30px;
    min-width: 100px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    float: right;
    margin-right: 5px;
    cursor: pointer;
}